# Ignore Visual Studio temporary files, build results, and user-specific files
.vs/
bin/
obj/

# Ignore user-specific project files
*.csproj.user

# Ignore build output
*.exe
*.dll

# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore temporary files
*.log
*.temp
*.TMP

# Ignore OS-specific files
.DS_Store
Thumbs.db
ConnectionString.cs
/wasteNOT/ConnectionString.cs
/wasteNOT/obj/Debug/net6.0-windows/wasteNOT.AssemblyInfoInputs.cache
/wasteNOT/obj/Debug/net6.0-windows/wasteNOT.AssemblyInfo.cs
/wasteNOT/.vs/wasteNOT/v17/.suo
/wasteNOT/.vs/wasteNOT/DesignTimeBuild/.dtbcache.v2
